# Ignore everything
*

# Don't ignore directories
!*/

# Ignore all files in directories
**/*

# Don't ignore directories in directories
!**/*/

# Don't ignore these files
!src/**/*.cpp
!src/**/*.h
!src/**/*.hpp
!Makefile
!subject.pdf
!.gitignore
!config/**/*
!www/**/*
!www2/**/*
www/upload/*
!YoupiBanane/**/*
!ubuntu_cgi_tester
!ubuntu_tester
#ignore all object files and libraries
**/*.o
*.o
**/*.a
*.a