# Ignore everything
*

# Don't ignore directories
!*/

# Ignore all files in directories
**/*

# Don't ignore directories in directories
!**/*/

# Don't ignore these files
!src/**/*.cpp
!src/**/*.h
!src/**/*.hpp
!html/**/*.html
!include/**/*.hpp
!include/**/*.h
!Makefile
!subject.pdf
!.gitignore
!imgs/**/*
!upload/**/*
!**/*.conf
!**/*.cgi

#ignore all object files and libraries
**/*.o
*.o
**/*.a
*.a